.navigation {
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;

  position: fixed;
  top: 0;
  right: 0;

  z-index: 3;

  margin: 32px 16px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;

  :global {
    transition: opacity 0.25s 0.8s ease-in;
  }

  &.animate,
  &.instant {
    opacity: 1;
    visibility: inherit;
  }

  span {
    padding: 0 8px;
  }
}
