.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10rem 0 5rem;

  h1 {
    display: inline-block;

    background-size: 100% 200%;
    background-position: 0 0;
    background-image: linear-gradient(
      transparent,
      transparent calc(50% - 9px),
      #80d3ff calc(50% - 9px),
      #80d3ff
    );
  }

  p {
    padding-top: 1rem;
  }
}

.portfolio {
  display: grid;

  grid-template-columns: auto;

  grid-column-gap: 2em;
  grid-row-gap: 2em;

  :global .interaction {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    margin: 2em 2em 2em 0;
  }

  :global .wall,
  :global .prototyping,
  :global .prototypes,
  :global .interface {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  :global .prototyping {
    margin-right: 2em;
  }

  :global .iphone {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;

    margin-top: 6em;
  }

  :global .prototypes,
  :global .apps {
    display: grid;
    grid-template-columns: 70% 30%;

    margin: 4em 0 2em 0;
  }

  :global .prototypes {
    grid-template-columns: 70% 30%;

    h2 {
      justify-self: flex-start;
    }
  }

  :global .apps {
    grid-template-columns: 30% 70%;

    grid-column-start: 1;
    grid-column-end: 3;

    h2 {
      justify-self: center;
      align-self: center;
    }
  }

  :global .interface {
    margin: 2em 2em 4em 0;

    grid-row-start: 4;
    grid-row-end: 6;
  }

  :global .ipad {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;

    margin-left: 2em;
  }

  :global .postits {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;

    margin: 8em 2em 0 0;
  }

  :global .paper,
  :global .books {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  :global .paper {
    margin-top: 4em;
  }

  :global .books {
    margin-left: 4em;
  }

  :global .working {
    grid-column-start: 3;
    grid-column-end: 5;

    margin-top: 8em;
  }

  :global .interactions {
    grid-column-start: 3;
    grid-column-end: 5;
    justify-self: center;
    align-self: center;
  }

  :global .ipad2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 13;

    margin: 2em 8em;
  }
}
