.weCreate {
  position: relative;

  display: block;

  height: 34rem;
  margin: 12em 0 4em;

  @media (orientation: portrait) {
    margin: 4em 0;
  }

  h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.values {
  position: relative;
  display: block;
  height: 100%;

  .bubbles {
    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }
}
