.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  height: 34rem;

  overflow: hidden;

  > div:first-of-type {
    width: 240px;

    position: absolute;
    left: 50%;
    bottom: 8rem;
    transform: translate(-50%, 0);
  }
}
