.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  height: 34rem;

  overflow: hidden;

  &.about {
    height: 12rem;
  }
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 50%;
  top: 4rem;
  transform: translate(-50%, 0);

  span {
    margin-right: 4px;
  }
}

.bike {
  width: 240px;

  position: absolute;
  left: 50%;
  bottom: 8rem;
  transform: translate(-50%, 0);
}

.jump {
  width: 360px;

  position: absolute;
  left: 40%;
  bottom: 4rem;
  transform: translate(-50%, 0);
}

.customFuture {
  position: absolute;
  left: 50%;
  top: 3.6rem;
  transform: translate(-50%, 0);

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    text-align: right;
    margin: 0 16px 0 0;
    font-size: 10px;
    line-height: 12px;
    width: 8rem;
  }

  img {
    width: 5rem;
    margin: 0;
  }
}
